* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.mycart-page {
   width: 100%;
   min-height: 100dvh;
   display: flex;
   flex-direction: column;
}



.mycart-content::-webkit-scrollbar {
   width: 4px;
}

.mycart-content::-webkit-scrollbar-thumb {
   background: #cfd6e4;
   border-radius: 10px;
}

.empty-cart {
   flex: 1;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 50px 20px;
   text-align: center;
}

.empty-cart h2 {
   font-size: 15px;
   font-weight: 600;
   color: #7b8794;
   line-height: 1.5;
}

