.order-rating{
    padding:10px;
}

.order-rating h3{
    font-size:11px;
    font-weight:700;
    color:#222;
}

.rating-stars{

    display:flex;
    justify-content:center;
    gap:10px;

}

.rating-stars span{

    font-size:20px;
    color:#d8d8d8;
    cursor:pointer;
    transition:.2s;

}

.rating-stars span:hover{

    transform:scale(1.1);

}

.active-star{

    color:#ffb400 !important;

}

.review-toast{

    margin-bottom:12px;
    padding:10px 14px;
    background:#eef7ff;
    color:#1877f2;
    border-radius:10px;
    font-size:13px;
    font-weight:600;
    text-align:center;

}

.review-box{

    width:100%;
    min-height:90px;
    padding:12px;
    border-radius:12px;
    border:1px solid #ddd;
    outline:none;
    resize:none;
    font-size:14px;
    font-family:inherit;
    box-sizing:border-box;

}

.review-box:focus{

    border-color:#1877f2;

}

.review-count{

    text-align:right;
    margin-top:6px;
    margin-bottom:15px;
    font-size:12px;
    color:#888;

}

.submit-rating{

    width:100%;
    height:45px;
    border:none;
    border-radius:12px;
    background:#1877f2;
    color:#fff;
    font-size:15px;
    font-weight:700;
    cursor:pointer;
    transition:.2s;

}

.submit-rating:hover{

    opacity:.9;

}

.submitted-review{

    margin-top: 5px;
    padding:10px;
    border-radius:12px;
    background:#f8f9fb;
    border:1px solid #e5e5e5;

}

.submitted-review h4{

    margin:0 0 8px;
    color:#1877f2;
    font-size:11px;

}

.submitted-review p{

    margin:0;
    color:#444;
    line-height:1.6;
    word-break:break-word;

}
