.track-order {
    width: 100%;
    box-sizing: border-box;
}

.track-title {
    margin: 2px 0px 5px 5px;
    font-size: 10px;
    font-weight: 700;
    color: #222;
}

.track-line {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    padding: 0 5px;

    box-sizing: border-box;
}


/* Grey background line */

.track-line::before {
    content: "";

    position: absolute;

    top: 4px;
    left: 5px;
    right: 5px;

    height: 3px;

    background: #dedede;

    border-radius: 10px;

    z-index: 1;
}


/* Green animated line */

.track-progress-line {
    position: absolute;

    top: 4px;
    left: 5px;

    width: 0;
    height: 3px;

    background: #22c55e;

    border-radius: 10px;

    z-index: 2;

    transition: width 1.8s ease-in-out;
}


/* Actual animation */

.track-progress-line.animate-progress {
    width: var(--progress);
}


/* =========================
   STEP
========================= */

.track-step {
    position: relative;

    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 20%;

    text-align: center;
}


/* =========================
   DOT
========================= */

.track-circle {
    width: 8px;
    height: 8px;

    border-radius: 50%;

    background: #d4d4d4;

    border: 2px solid #d4d4d4;

    box-sizing: content-box;

    z-index: 4;

    transition:
        background .3s ease,
        border-color .3s ease;
}


/* Completed dot */

.track-step.completed .track-circle {
    background: #22c55e;
    border-color: #22c55e;
}


/* =========================
   STATUS TEXT
========================= */

.track-step span {
    margin-top: 7px;

    font-size: 8px;
    font-weight: 700;

    color: #999;

    white-space: nowrap;
}

.track-step.completed span {
    color: #22c55e;
}


/* =========================
   DATE
========================= */

.track-step small {
    font-size: 6px;
    font-weight: 500;
    color: #aaa;
    white-space: nowrap;
}

.track-step.completed small {
    color: #777;
}


/* =========================
   CANCELLED
========================= */

.cancelled-track::before {
    background: #e5e5e5;
}

.cancelled-progress {
    width: 50%;
    background: #ef4444;
}

.track-step.cancelled .track-circle {
    background: #ef4444;
    border-color: #ef4444;
}

.track-step.cancelled span {
    color: #ef4444;
}

.track-step.cancelled small {
    color: #777;
}

/* =========================
   CANCEL TRACKING
========================= */

.cancel-track {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 0 5px;
    box-sizing: border-box;
}


/* Grey background */

.cancel-track::before {
    content: "";

    position: absolute;

    top: 4px;
    left: 5px;
    right: 5px;

    height: 3px;

    background: #e5e5e5;

    border-radius: 10px;

    z-index: 1;
}


/* =========================
   RED PROGRESS
========================= */

.cancel-progress-red {
    position: absolute;

    top: 4px;
    left: 5px;

    width: 0;
    height: 3px;

    background: #ef4444;

    border-radius: 10px;

    z-index: 2;

    transition: width 1.8s ease-in-out;
}

.animate-cancel-red {
    width: var(--cancel-progress);
}




.cancel-progress-green {
    position: absolute;

    top: 4px;

    left: 5px;

    height: 3px;

    width: 0;

    background: #22c55e;

    border-radius: 0 10px 10px 0;

    z-index: 2;

    transition: width 1.5s ease-in-out;
}


.has-refund .cancel-progress-green {
    left: 66.66%;
    width: 0;
}

.has-refund .cancel-progress-green.animate-refund {
    width: 33.34%;
}


/* =========================
   CANCEL STEP
========================= */

.cancel-step {
    position: relative;

    z-index: 4;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 33.33%;

    text-align: center;
}


.has-refund .cancel-step {
    width: 25%;
}


/* =========================
   CANCEL DOT
========================= */

.cancel-dot {
    width: 8px;
    height: 8px;

    border-radius: 50%;

    background: #ef4444;

    border: 2px solid #ef4444;

    box-sizing: content-box;

    z-index: 5;
}


/* =========================
   CANCEL TEXT
========================= */

.cancel-step span {
    margin-top: 7px;

    font-size: 8px;
    font-weight: 700;

    color: #ef4444;

    white-space: nowrap;
}


/* =========================
   CANCEL DATE
========================= */

.cancel-step small {
    margin-top: 3px;

    font-size: 7px;

    color: #777;

    white-space: nowrap;
}


/* =========================
   REFUND
========================= */

.refund-step span {
    color: #999;
}

.refund-dot {
    background: #d4d4d4;
    border-color: #d4d4d4;
}

.refund-step.completed span {
    color: #22c55e;
}

.refund-step.completed .refund-dot {
    background: #22c55e;
    border-color: #22c55e;
}