.home-container {

    width: 100%;

    height: 100vh;

    display: flex;

    flex-direction: column;

    overflow: hidden;

    background: #f8f8f8;

}

.home-content {

    flex: 1;

    overflow-y: auto;

    overflow-x: hidden;

    padding-bottom: 70px;

    box-sizing: border-box;

}

.home-content::-webkit-scrollbar {

    display: none;

}