.bn-nav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    height: 45px;
    padding: 5px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    background: #265161;
}

.bn-item {
    flex: 1;
    height: 28px;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    cursor: pointer;
    color: #7d8795;
    transition: .25s;
    -webkit-tap-highlight-color: transparent;
    padding: 2px;
}

.bn-icon {
    font-size: 12px;
    line-height: 1;
    transition: .25s;
}

.bn-text {
    font-size: 8px;
    line-height: 1;
    letter-spacing: .3px;
    transition: .25s;
}

.bn-active {
    background: white;
    color: black;
    font-weight: bold;
    box-shadow: 0 0 3px black;
}


.bn-profile-icon {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    overflow: hidden;
}

.bn-profile-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}