/* =========================================
   GIFT CATEGORY PAGE
========================================= */

.gift-category-page {
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    padding: 10px 10px 30px;

    overflow-x: hidden;

    background: #f8fafc;
}


/* =========================================
   CATEGORY HEADER
========================================= */

.gift-category-header {
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    background-color: black;
}

.gift-category-header button {
    background: none;
    border: none;
    color: white;
}

/* Category Name */

.gift-category-header h2 {
    min-width: 0;
    margin: 0;
    font-size: 11px;
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    background: linear-gradient(90deg, aqua, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    letter-spacing: 1px;
}

/* =========================================
   PRODUCTS SECTION
========================================= */

.gift-category-page .cds-section {
    width: 100%;
    margin: 0;
    padding: 0;

    background: transparent;
}


/* =========================================
   PRODUCT GRID
========================================= */

.gift-category-page .cds-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
    box-sizing: border-box;
}