/*=========================================================
  PRODUCT INFORMATION
  Mobile First
=========================================================*/


/*==============================
ROOT
==============================*/

.dt-information{

    width:100%;

    display:flex;

    flex-direction:column;

    align-items:flex-start;

    gap:16px;

}



/*==============================
TITLE
==============================*/

.dt-information h3{

    margin:0;

    font-size:16px;

    font-weight:700;

    color:#111;

    text-align:left;

}


.dt-info-row{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:16px;
}


.dt-info-row span:first-child{

    color:#666;

    font-size:13px;

    font-weight:500;

}



/*==============================
RIGHT TEXT
==============================*/

.dt-info-row span:last-child{
    font-size:13px;
    font-weight:bold;
    text-align:right;
}



/*==============================
FOCUS
==============================*/

.dt-info-row:focus-within{

    border-color:#111;

}



.delidate{
    color: green;
}

