/*=========================================================
  REVIEWS
=========================================================*/

.dt-reviews {

    width: 100%;

    display: flex;

    flex-direction: column;
}

.dt-review-top img {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    box-shadow: 0 0 2px black;
}

/*==============================
HEADER
==============================*/

.dts-section-header {

    display: flex;

    align-items: center;

    justify-content: space-between;
    margin-bottom: 5px;

}



.dts-section-header h4 {

    margin: 0;

    font-size: 10px;

    font-weight: 700;

    color: #111;

}



.dt-view-all {

    border: none;

    background: transparent;

    color: #0418f3;

    font-size: 10px;

    font-weight: 600;

    cursor: pointer;

    transition: .25s ease;

}



.dt-view-all:hover {

    opacity: .7;

}



/*==============================
SCROLL
==============================*/

.dt-review-scroll {

    display: flex;

    gap: 14px;

    overflow-x: auto;

    overflow-y: hidden;

    padding-bottom: 4px;

    scroll-behavior: smooth;

    scrollbar-width: none;

    -ms-overflow-style: none;

}



.dt-review-scroll::-webkit-scrollbar {

    display: none;

}



/*==============================
CARD
==============================*/

.dt-review-card {

    flex: 0 0 260px;

    background: #fff;

    border: 1px solid #ececec;

    border-radius: 18px;

    padding: 9px;

    box-shadow: 0 0 3px black;

    transition:

        transform .25s ease,

        box-shadow .25s ease;

}



.dt-review-card:hover {

    transform: translateY(-4px);

    box-shadow:

        0 14px 30px rgba(0, 0, 0, .08);

}



/*==============================
TOP
==============================*/

.dt-review-top {

    display: flex;

    align-items: center;

    gap: 12px;

    margin-bottom: 2px;

}



/*==============================
AVATAR
==============================*/

.dt-review-avatar {

    width: 20px;

    height: 20px;

    border-radius: 50%;

    background: #111;

    color: #fff;

    display: flex;

    align-items: center;

    justify-content: center;

    font-size: 8px;

    font-weight: 700;

    flex-shrink: 0;

}



/*==============================
NAME
==============================*/

.dt-review-top h4 {

    margin: 0;

    font-size: 9px;

    font-weight: 700;

    color: #111;

}



.dt-review-top span {

    display: block;

    margin-top: 4px;

    font-size: 9px;

}

.dt-review-card p {

    margin: 0;

    color: #666;

    font-size: 10px;
}